body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #F1F3F3;
    /*background-color: floralwhite;*/
}

.zipcode {
    font: 18px Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.title {
    font: 20px Arial, sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#opening {
    font: 24px Arial, sans-serif;
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.opening2 {
    font: 16px Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font: 20px Arial, sans-serif;
    text-align: center;
}

.instruction {
    font: 12px Arial, sans-serif;
    text-align: center;
}

.legend {
    font: 13px Arial, sans-serif;
}

.message {
    font: 14px Arial, sans-serif;
}

.clock {
    font: 10px Arial, sans-serif;
}

.cell1 {
    stroke-width: 0.2;
    stroke: #f2f2f2;
}


.cell2 {
    stroke-width: 0.5;
    stroke: #f2f2f2;
}

.cell3 {
    stroke-width: 0.5;
    stroke: #e6e6e6;
}

.arc:hover{
    fill: #ffd700;
    opacity: 0.3;
}


.outline {
    stroke-width: 0.2;
    stroke: #808080;
}

.axis path {
    display: none;
}


.axis {
    font: 12px Arial, sans-serif;
}

.interactivity {
    stroke-width: 0.3;
    stroke: #808080;
}

.interactivity2 {
    stroke-width: 0.1;
    stroke: #b3b3b3;
}



.container {
    max-width: 1920px;
    width: 80%;
}


#total_nv {
    text-align: center;
}

.side{
    width: 50px;
}







.container {
    max-width: 1920px;
    width: 80%;
}

.axis1 {
    font: 13px Arial, sans-serif;
}

.axis2 {
    font: 13px Arial, sans-serif;
    font-weight: bold;
}

.axis1 path {
    display: none;
}

.axis2 path {
    display: none;
}

.scale {
    font: 16px Arial, sans-serif;
    font-weight: bold;
}

.legend {
    font: 12px Arial, sans-serif;
}

.legend2 {
    font-size: 10px;
}

.button {
    border-radius: 5px;
}


.circle:hover{
    opacity: 0.5;
}

.referlink {
    font: 8px Arial, sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: center;
}

